@{
    ViewData["Title"] = "Discover";
}

<div class="container">
    <main role="main" class="pb-3">


        <div style="margin-bottom:60px">
            <img src="https://www.exaltconsulting.com/uploads/exaltconsultancy/home-banner1.png" class="img-fluid" alt="Responsive image" style="height: 400px; width:100%">

        </div>


        <section class="latestBlog pt-0 pb-5">
            <div class="container-fluid">
                <h3 class="text-center pb-5">Our Latest <span class="text-red">Blog</span></h3>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card mb-4">
                            <img class="card-img-top" src="~/images/960x051ec.jpg" alt="Job" style="height:200px">
                            <span class="dateTop">20<sup>th</sup> feb 2020</span>
                            <div class="card-body">
                                <h3 class="card-title">New Generation</h3>
                                <p class="smiBold">Lorem ipsum dolor sit amet, consectetur adipiscing elit. sed do eiusmodLorem ipsum dolor sir amet, consectetur adipiscing elit, sed do eiusmo</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card mb-4">
                            <img class="card-img-top" src="~/images/960x051ec.jpg" alt="Job" style="height:200px">
                            <span class="dateTop">30<sup>th</sup> Jan 2020</span>
                            <div class="card-body">
                                <h3 class="card-title">Most Important</h3>
                                <p class="smiBold">Lorem ipsum dolor sit amet, consectetur adipiscing elit. sed do eiusmodLorem ipsum dolor sir amet, consectetur adipiscing elit, sed do eiusmo</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card mb-4">
                            <img class="card-img-top" src="~/images/960x051ec.jpg" alt="Job" style="height:200px">
                            <span class="dateTop">5<sup>th</sup> Oct 2020</span>
                            <div class="card-body">
                                <h3 class="card-title">New days Insipiration</h3>
                                <p class="smiBold">Lorem ipsum dolor sit amet, consectetur adipiscing elit. sed do eiusmodLorem ipsum dolor sir amet, consectetur adipiscing elit, sed do eiusmo</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="row py-5 interView">
            <div class="col-sm-4">
                <div class="jobImage">
                    <div class="image-card">
                        <img class="w-100" src="~/images/pexels-photo-3183197fcdb.jpg" alt="Job" style="height:auto; width:100px">
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <h1>Tips For <span class="text-red">Interview</span></h1>
                <p>
                    Lorem ipsum adipiscing elit, sed do eiusmod tempor incididunt ut labaore et dolore magna aliqua. Quis ipusm suspendisse. ultrices gravida, Risus commdo. sit  dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labaore et dolore magna aliqua. Quis ipusm suspendisse.
                    <a class="readmorelink" href="#"> Read More</a>
                </p>
            </div>
        </div>
    </main>
</div>